nav{
    flex: inherit;
    height: fit-content;
    width: 100%;
    background: #f9fffe;
}
.sidea, .sidea:hover{
    text-decoration: none;
    color: white;
    cursor: pointer;
}
.active{
    border:3px #ffab08 ;
    border-style: none none solid none;
}
table{
    flex: inherit;
    margin-top: 2%;
}