<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Welcome admin, {{ username }}</title>
  <link rel="stylesheet" href="/static/style/common.css">
  <link rel="stylesheet" href="/static/style/framework.css">
  <link rel="stylesheet" href="/static/style/admpage.css">
  <link rel="stylesheet" href="/static/images/iconfont.css">
  <link rel="stylesheet" href="/static/js/lib/bootstrap.min.css">
  <link rel="icon" href="/static/images/newslogo2.ico" type="image/x-icon">
</head>

<body>
  <div class="mycontainer">
    <div class="header">
      <p>学生管理系统 <a href="/" style="font-size: 20px; margin-left: 75%; color: white;">退出</a></p>
    </div>
    {% if message %}
    <P style="color:#bbff4e">{{message}}</P>
    {% endif %}
    <div class="bigbox">
      <div class="leftcol">
        <div class="module">
            <button class="sidebtn " id="adminSTD"><a href="/admin/stds" class="sidea">学生管理</a></button>
        </div>
        <div class="module">
            <button class="sidebtn " id="adminUSER"><a href="/admin/users" class="sidea">用户管理</a></button>
        </div>
      </div>
      <div class="rightcol">
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title" id="exampleModalLabel">修改信息</h4>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        </div>
                        <div class="modal-body">

                            <form>

                                <div class="form-group">
                                    <label class="control-label">学号</label>
                                    <input type="text" class="form-control-plaintext" id="stdid" readonly>
                                </div>
                                <div class="form-group">
                                    <label class="control-label">姓名</label>
                                    <input type="text" class="form-control" id="stdname">
                                </div>
                                <div class="form-group">
                                    <label class="control-label">性别</label>
                                    <select class="form-control" id="gender">
                                        <option value="BOYS">男</option>
                                        <option value="GIRLS">女</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label class="control-label">生日</label>
                                    <input type="date" class="form-control" id="stdbirth">
                                </div>
                                <div class="form-group">
                                    <label class="control-label">电话</label>
                                    <input type="text" class="form-control" id="stdtel">
                                </div>
                                <div class="form-group">
                                    <label class="control-label">email</label>
                                    <input type="text" class="form-control" id="stdemail">
                                </div>
                                <div class="form-group">
                                    <label class="control-label">身份</label>
                                    <select class="form-control" id="graduate">
                                        <option value="UNDERGRADUATE">本科生</option>
                                        <option value="MASTER">研究生</option>
                                    </select>
                                </div>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                            <button type="button" class="btn btn-primary submit" id="altersubmit">提交</button>
                        </div>
                    </div>
                </div>
            </div>

    <nav class="navbar navbar-expand-lg navbar-light">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="javascript:void(0)" id="showstds">学生名单</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <label class="my-1 mr-2" for="searchKey">查找</label>
      <select class="custom-select my-1 mr-sm-2" id="searchKey">
        <option value="name" selected>姓名</option>
        <option value="id">学号</option>
        <option value="tel">电话</option>
        <option value="email">邮箱</option>
      </select>
      <input class="form-control mr-sm-2" type="search" placeholder="查找关键词" aria-label="Search" id="searchText">
      <button class="btn btn-outline-success my-2 my-sm-0" type="button" id="searchS">Search</button>
    </form>
  </div>
</nav>
        <table class="table table-striped stdtable">
          <thead>
            <tr>
              <th scope="col">学号</th>
              <th scope="col">姓名</th>
              <th scope="col">性别</th>
              <th scope="col">生日</th>
              <th scope="col">电话</th>
              <th scope="col">Email</th>
              <th scope="col">身份</th>
              <th scope="col">操作 &nbsp</th>
            </tr>
          </thead>
          <tbody>
          {% for std in stds %}
            <tr>
              <th scope="row" class="pid">{{ std.id }}</th>
              <td class="pname">{{ std.name }}</td>
              <td class="pgender">{{ std.gender }}</td>
              <td class="pbirth">{{ std.birthday }}</td>
              <td class="ptel">{{ std.tel }}</td>
              <td class="pemail">{{ std.email }}</td>
              <td class="pgraduate">{{ std.graduate }}</td>
              <td><a href="javascript:void(0)" class="alter" data-toggle="modal" data-target="#exampleModal" onclick="alterclick()">修改</a> </td>
              <td><a href="javascript:void(0)" class="deleteStd" onclick="delclick()">删除</a> </td>
            </tr>
          {% endfor %}
          </tbody>
        </table>
        <table class="table table-striped resulttable" id="searchResult" style="display: none">
          <thead>
            <tr>
              <th scope="col">学号</th>
              <th scope="col">姓名</th>
              <th scope="col">性别</th>
              <th scope="col">生日</th>
              <th scope="col">电话</th>
              <th scope="col">Email</th>
              <th scope="col">身份</th>
              <th scope="col">操作 &nbsp</th>
            </tr>
          </thead>
          <tbody id="searchRows" class="rows">

          </tbody>
        </table>
      </div>
    </div>
  </div>

  <script type="text/javascript" src="/static/js/lib/art-template.js"></script>
  <script type="text/javascript" src="/static/js/lib/jquery-3.5.1.js"></script>
  <script type="text/javascript" src="/static/js/lib/bootstrap.bundle.min.js"></script>
  <script type="text/javascript" src="/static/js/admin.js"></script>
  <script type="text/javascript" src="/static/images/iconfont.js"></script>

</body>

</html>